# Ignore node_modules directory
node_modules/

# Ignore npm debugging logs
npm-debug.log

# Ignore yarn.lock file
yarn.lock

# Ignore .env files, which may contain sensitive information
.env

# Ignore local development server files (e.g., Express.js)
.server/

# Ignore build and compiled output directories
dist/
build/
out/

# Ignore OS-specific or editor-specific files
.DS_Store
Thumbs.db
.vscode/
*.sublime-project
*.sublime-workspace

# Ignore package-lock.json for npm 5+
package-lock.json
